.Carousel {
    margin: 0;
}

.popular-destinations {
    margin-top: 70px;
    height: 650px;
}
.popular-destinations h3 {
    padding-bottom: 20px;
}

.popular-destinations > .popular-blocks {
    display: flex;
    justify-content: center;
}

.popular-blocks > div {
    width: 290px;
    height: 350px;
}

.pop-block {
    margin-top: 118px;
    margin: 10px;
    box-shadow: 1px 1px 20px #cccbcb;
    
}

.populars {
    margin-top: 100px;
}

.box {
    text-align: center;
    width: 850px;
    height: 550px;
    margin: 40px auto;
    background: transparent;
    box-shadow: none;
}

.h3-text {
    color: white;
    font-family: Helvetica;
    font-size: 40px;
}

div.info-block {
    display: flex;
    position: absolute;
    margin-top: -37px;
    background: white;
    z-index: 3;
    width: 255px;
    height: 100px;
    margin-left: 18px;
    box-shadow: 1px 1px 20px #cccbcb;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}


.info-block h6 {
    padding: 9px 0 2px 0;
    margin-bottom: 0;
}
span.reviews {
    font-size: 12px;
    color: #8a8a8a;
}

.bi.bi-star-fill {
    font-size: 12px;
    color: #ffbd00;
}
.reviews button.btn.btn-link {
    padding-top: 0;
}
button.btn.btn-outline.reviews-check-out {
    background: #ff5100;
    height: 33px;
    color: white;
    padding: 0 12px;
    margin-left: 7px;
}
.reviews span {
    color: red;
    font-weight: 600;
    font-size: 14px;
}

.all-popular-destinations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 95px;
}
.btn-popular {
    width: 150px;
}
